### Toronto, Canada Segmenting and Clustering - Part 2

In [25]:
import pandas as pd
import numpy as np

#### Load Toronto Neighborhood data

In [32]:
file = r'tor.csv'
df = pd.read_csv(file)
df.head()

,Unnamed: 0,PostalCode,Borough,Neighborhood
0,0,M3A,North York,Parkwoods
1,1,M4A,North York,Victoria Village
2,2,M5A,Downtown Toronto,"Regent Park , Harbourfront"
3,3,M6A,North York,"Lawrence Manor , Lawrence Heights"
4,4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government"

In [35]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

#### Clean table of Toronto Neighborhood

In [36]:
df

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park , Harbourfront"
3,M6A,North York,"Lawrence Manor , Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway , Montgomery Road , Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business reply mail Processing CentrE
101,M8Y,Etobicoke,"Old Mill South , King's Mill Park , Sunnylea ,..."
102,M8Z,Etobicoke,"Mimico NW , The Queensway West , South of Bloo..."

#### Read Geospatial data

In [37]:
gfile = r'Geospatial_Coordinates.csv'
df_g = pd.read_csv(gfile)
df_g

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [39]:
df_g.set_index('Postal Code',inplace=True)

In [40]:
df_g

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476
...                ...        ...
M9N          43.706876 -79.518188
M9P          43.696319 -79.532242
M9R          43.688905 -79.554724
M9V          43.739416 -79.588437
M9W          43.706748 -79.594054

[103 rows x 2 columns]

#### Locate the Latitude and Longitude of each Postal Code and combine the dataframe

In [65]:
lat = []
long = []

for post in df['PostalCode']:
    lat.append(df_g.loc[post][0])
    long.append(df_g.loc[post][1])

[43.7532586, 43.725882299999995, 43.6542599, 43.718517999999996, 43.6623015, 43.6678556, 43.806686299999996, 43.745905799999996, 43.7063972, 43.6571618, 43.709577, 43.6509432, 43.7845351, 43.72589970000001, 43.695343900000005, 43.6514939, 43.6937813, 43.6435152, 43.7635726, 43.67635739999999, 43.644770799999996, 43.6890256, 43.7709921, 43.7090604, 43.6579524, 43.669542, 43.773136, 43.8037622, 43.7543283, 43.7053689, 43.65057120000001, 43.66900510000001, 43.7447342, 43.7785175, 43.7679803, 43.685347, 43.6408157, 43.647926700000006, 43.7279292, 43.7869473, 43.737473200000004, 43.6795571, 43.6471768, 43.6368472, 43.711111700000004, 43.7574902, 43.7390146, 43.6689985, 43.6481985, 43.713756200000006, 43.7563033, 43.716316, 43.789053, 43.7284964, 43.6595255, 43.7332825, 43.6911158, 43.7247659, 43.692657000000004, 43.7701199, 43.7616313, 43.7280205, 43.7116948, 43.67318529999999, 43.706876, 43.7574096, 43.752758299999996, 43.7127511, 43.6969476, 43.6616083, 43.696319, 43.750071500000004, 43.7827364, 43.7153834, 43.6727097, 43.6489597, 43.6369656, 43.6889054, 43.7942003, 43.7043244, 43.6626956, 43.6515706, 43.7816375, 43.6895743, 43.6532057, 43.8152522, 43.68641229999999, 43.6289467, 43.6056466, 43.739416399999996, 43.799525200000005, 43.6795626, 43.6464352, 43.60241370000001, 43.706748299999994, 43.836124700000006, 43.667967, 43.6484292, 43.653653600000005, 43.6658599, 43.6627439, 43.6362579, 43.6288408]
[-79.3296565, -79.31557159999998, -79.3606359, -79.46476329999999, -79.3894938, -79.53224240000002, -79.19435340000001, -79.352188, -79.309937, -79.37893709999999, -79.44507259999999, -79.55472440000001, -79.16049709999999, -79.340923, -79.3183887, -79.3754179, -79.42819140000002, -79.57720079999999, -79.1887115, -79.2930312, -79.3733064, -79.453512, -79.21691740000001, -79.3634517, -79.3873826, -79.4225637, -79.23947609999999, -79.3634517, -79.4422593, -79.34937190000001, -79.3845675, -79.4422593, -79.23947609999999, -79.3465557, -79.48726190000001, -79.3381065, -79.38175229999999, -79.4197497, -79.26202940000002, -79.385975, -79.46476329999999, -79.352188, -79.38157640000001, -79.42819140000002, -79.2845772, -79.37471409999999, -79.5069436, -79.31557159999998, -79.37981690000001, -79.4900738, -79.56596329999999, -79.23947609999999, -79.40849279999999, -79.49569740000001, -79.340923, -79.4197497, -79.47601329999999, -79.53224240000002, -79.2648481, -79.40849279999999, -79.52099940000001, -79.3887901, -79.41693559999999, -79.48726190000001, -79.51818840000001, -79.27330400000001, -79.4000493, -79.3901975, -79.41130720000001, -79.46476329999999, -79.53224240000002, -79.2958491, -79.4422593, -79.40567840000001, -79.40567840000001, -79.456325, -79.61581899999999, -79.55472440000001, -79.26202940000002, -79.3887901, -79.4000493, -79.4844499, -79.3043021, -79.38315990000001, -79.4000493, -79.2845772, -79.4000493, -79.3944199, -79.50132070000001, -79.5884369, -79.3183887, -79.37752940000001, -79.37484599999999, -79.54348409999999, -79.5940544, -79.20563609999999, -79.3676753, -79.3822802, -79.5069436, -79.38315990000001, -79.321558, -79.49850909999999, -79.52099940000001]

In [66]:
dft = df

In [67]:
dft['Latitude'] = lat
dft['Longitude'] = long

#### Here is the final table

In [68]:
dft

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park , Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor , Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway , Montgomery Road , Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,Business reply mail Processing CentrE,43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South , King's Mill Park , Sunnylea ,...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW , The Queensway West , South of Bloo...",43.628841,-79.520999

#### Let's export this one too

In [70]:
dft.to_csv('tor_lat_long.csv')